{% extends 'core/base.html' %}
{% load bootstrap5 %}

{% block content %}

<!-- {% if request.user.is_authenticated %} -->

<head>
    <meta charset="UTF-8">
    <title>Crear Usuario</title>
</head>
<body>
    <div class="container">
        <h3> Configurar Perfil {{ profile.user }} </h3>
    
    </div>
    

    <div class="container">
        <form method="post">

            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
        
            <div class="container mb-4">
                <button type="submit" class="btn btn-primary">
                    Guardar Cambios
                </button>
            </div>
        </form>
    </div>



    <a href="{% url 'listar_usuarios' %}">Volver a la lista de usuarios</a>
</body>

<!-- {% endif %} -->

{% endblock %}