{% extends 'core/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}

<div class="row row-cols-1 row-cols-md-1 g-1">
    <div class="col">
        <div class="card border-dark mb-3 text-left p-1" style="max-width: auto;">
            <div class="card bg-danger p-2">
                <h5 class="text-white text-center">Mantenedor de Areas</h5>
            </div>
            <a href={% url 'crear_area' %} class="btn btn-primary">Crear Nueva Area</a>

            <div class="table-responsive small">
                <table class="table table-centered table-nowrap table-hover">
                    <thead class="thead-light table-active">
                        <tr>
                            <th>ID</th>
                            <th>Area</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for listado_area in listado_area %}
                        <tr>
                            <td>{{ listado_area.id }}</td>
                            <td>{{ listado_area.nombre_area }}</td>

                            <td>
                                <a href="#">Eliminar</a> |
                                <a href="#">Editar</a>
                          
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endif %} 
{% endblock %}
